@tailwind base;

/* Write your own custom base styles here */

/* Start purging... */
@tailwind components;
/* Stop purging. */

/* html,
body {
  @apply bg-gray-50 dark:bg-gray-900;
} */

/* Write your own custom component styles here */

.AppAnimatedBackground {
  height: 100vh;
}

.AppAnimatedBackground-parent-customString {
  height: 100vh;
  top: -8vw;
  left: -10vw;
  right: 10vw;
  width: 120vw;
}

.AppAnimatedBackground-stroke-customString {
  -webkit-text-stroke: .3vw rgba(255, 255, 255, 1);
}

.btn-blue {
  @apply px-4 py-2 font-bold text-white bg-blue-500 rounded;
}

.glide {
  position: relative;
  width: 100%;
  box-sizing: border-box; }
  .glide * {
    box-sizing: inherit; }
  .glide__track {
    overflow: hidden; }
  .glide__slides {
    position: relative;
    width: 100%;
    list-style: none;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    touch-action: pan-Y;
    overflow: hidden;
    padding: 0;
    white-space: nowrap;
    display: flex;
    flex-wrap: nowrap;
    will-change: transform; }
    .glide__slides--dragging {
      user-select: none; }

.glide__arrow {
  position: absolute;
  display: block;
  top: 2em;
  z-index: 2;
  color: #222222;
  text-transform: uppercase;
  padding: 9px 12px;
  background-color: #ffffff;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.1);
  text-shadow: 0 0.25em 0.5em rgba(0, 0, 0, 0.1);
  opacity: 1;
  cursor: pointer;
  transition: opacity 150ms ease, border 300ms ease-in-out;
  transform: translateY(-50%);
  line-height: 1; }
  .glide__arrow:focus {
    outline: none; }
  .glide__arrow:hover {
    border-color: white; }
  .glide__arrow--left {
    left: 0; }
  .glide__arrow--right {
    right: 0; }
  .glide__arrow--disabled {
    opacity: 0.33; }

.glide__bullets {
  /* position: absolute; */
  z-index: 2;
  /* bottom: -1em; */
  /* left: 50%; */
  display: inline-flex;
  list-style: none;
  /* transform: translateX(-50%); */ }

.glide__bullet {
  background-color:#222222;
  width: 9px;
  height: 9px;
  padding: 0;
  border-radius: 50%;
  border: 2px solid transparent;
  transition: all 300ms ease-in-out;
  cursor: pointer;
  line-height: 0;
  box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.1);
  margin: 0 0.25em; }
  .glide__bullet:focus {
    outline: none; }
  .glide__bullet:hover, .glide__bullet:focus {
    border: 2px solid #222222;
    background-color: #ffffff; }
  .glide__bullet--active {
    background-color: #666666; } 

.glide__slide {
  border: 1px solid #222222;
  display: flex;
  padding: 0.5rem;
  width: 100%;
  height: auto;
  flex-shrink: 0;
  white-space: normal;
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent; }
  .glide__slide a {
    user-select: none;
    -webkit-user-drag: none;
    -moz-user-select: none;
    -ms-user-select: none; }

.text-18xl {
  font-size: 16vw;
  line-height: 1;
}

.tippy-box[data-theme~='amities'] {
  background-color: #222222;
  color: #ffffff;
}

.tippy-box[data-theme~='amities'][data-placement^='top'] > .tippy-arrow::before {
  border-top-color: #222222;
}

.tippy-box[data-theme~='amities'][data-placement^='bottom'] > .tippy-arrow::before {
  border-bottom-color: #222222;
}

.tippy-box[data-theme~='amities'][data-placement^='left'] > .tippy-arrow::before {
  border-left-color: #222222;
}

.tippy-box[data-theme~='amities'][data-placement^='right'] > .tippy-arrow::before {
  border-right-color: #222222;
}

@media (max-width: 1200px) {
  .glide__arrow--left {
    left: 1em; }
  .glide__arrow--right {
    right: 1em; }
}

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* Your own custom utilities */
